*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   transition: all 0.3s ease-in-out;
}


:root{
    --footer-backgound-color:rgb(43, 43, 43);
    --footer-text-color:rgb(112, 112, 112);
    --aside-text-active-color:black;
    --aside-text-non-active-color:rgb(37, 37, 37);
    --header-path-color:rgb(156, 156, 156);
}

header , .container , .card-container , footer{
    margin-left:280px;
    transition: all 0.5s ease-in-out;
}

aside{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height:100vh;
    position: fixed;
    width:280px;
    padding:40px;
    background-color: rgb(245, 76, 104);
    color:black;
    transition: all 0.5s ease-in-out;
}



aside a{
    text-decoration: none;
    color:var(--aside-text-non-active-color);
}

aside .logo{
    text-align: center;
    font-weight: 800 !important;
}

aside .logo h1{
    font-weight: 800;
}

aside .logo .logoPic {
  margin-bottom: 10px;
}

aside ul{
    width:100px;
    text-align: center;
    
}

aside h4{
    font-weight: 600;
}

aside li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding-bottom:0px;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: all 1.5s ease-in-out;
    font-size: 1.0rem;
    
}

aside ul li .active{
    color:var(--aside-text-active-color) !important;
}

aside ul li .active + .underLine{
    transform: scaleX(1) !important;
}

aside li .underLine{
    width:100%;
    background-color:var(--aside-text-active-color);
    padding: 0.55px;
    transform: scaleX(0);
    transition: all 150ms ease-in-out;
}



aside li:hover .underLine{
    transform: scaleX(1);
}

aside li:hover a{
   color:var(--aside-text-active-color) ;
   
}

aside .followUs{
    text-align: center;
    text-transform: capitalize;
    color:var(--aside-text-non-active-color);
}

aside .followUs h4{
    margin-bottom: 15px;
}

aside .followUsNetworks{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

aside .followUsNetworks a{
    width:50px;
    height:50px;
    background-color: rgb(255, 121, 143);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



aside .followUsNetworks i{
    font-size: 1.3rem;
    color: black;
}

header{
   
    width:60%;
    padding:60px;
}

header > *{
    margin-bottom: 20px;
}

header .path{
    display: flex;
    text-transform: uppercase ;
}

header p{
    color:var(--header-path-color);
}

header .path a{
   color:var(--header-path-color);
   margin-right: 15px;
}

header .path .underLine{
    width: 100%;
    padding: 1px;
    background-color: var(--header-path-color);
}

header h1{
    text-transform: capitalize;
    font-weight: 800;
}


.container{
    background-color: rgb(211, 211, 211);
    display: flex;
   
   position: relative;
}

.container .left {
    width:50%;
    background-color: rgb(77, 77, 77);
}


.container .right{
    padding:30px;
    width:50%;
    align-self: center;
    background-color: white;
    transform: scaleX(1.05);
    transform: translateX(-5%);
    height:85%;
    margin:40px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.295);
    z-index:2;
}

.container .right > *{
    color: var(--header-path-color);
    padding: 10px 0;
 }

 .container .right h3{
     font-weight: 800;
     font-size: 1.5rem;
 }
 
 .container .right h3 , .socialMedia i{
     color:black;
 }

.container .right:not(h3, .socialMedia){
   color: var(--header-path-color);
}

.container .right ul{
    margin-left: 40px;
}

.container .right ul li{
    margin-bottom: 5px;
}

.container .right .socialMedia i{
    margin-right: 35px;
    font-size:1.5rem;
}



.card-container{
   
    padding:40px 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: repeat(1,fr);
    grid-gap:10px;
}

.card{
    background-color: rgb(255, 255, 255);
    padding:10px;
}

.card > *{
    padding:8px 0;
}

.card .photo{
    height:250px;
    background-color: rgb(230, 230, 230);
}

.card .profession{
    padding-top:0px;
    color:var(--header-path-color);
}

.card .description{
    color:rgb(139, 138, 138);
}

.card .connect i{
    margin-right: 5px;
    color: rgb(255, 121, 143);
}

 footer{
     background-color: var(--footer-backgound-color);
     font-size: 1.0rem;
     color:var(--footer-text-color);
    
 }

 footer > p{
     padding: 5%;
     padding-bottom:20px;
     text-align: center;
 }

 .flexItem{
     width: 100%;
    background-color:var(--footer-backgound-color);
    display: flex ;
    flex-flow: row nowrap;
    justify-content: center;
    padding:5%;
   
}

a{
    text-decoration: none;
    color:var(--footer-text-color);
}

footer li{
    list-style: none;
    border-bottom: 1px solid var(--footer-text-color);
    padding-bottom:10px ;
    margin-top: 30px;
}

footer div {
   text-transform: capitalize;
   width:30%;
   padding:0px 3%;
  
}

footer div h3 {
    color:white;
    margin-bottom: 35px;
 }

.brackets{
     float:right;
 }


 @media only screen and (max-width:1000px){
    aside{
         transform: translateX(-100%);
    }

    header , .card-container , .container , footer{
        margin-left: 0;
    }

    header{
       width:80%;
       padding-right:20px;
   }

   
}
 

 @media only screen and (max-width:850px)
 {
    .card-container{
        grid-template-columns: repeat(2,1fr);
        grid-row: repeat(2,fr);
        grid-gap:10px;
    }

     .flexItem{
         display: block;
     }

     footer div {
        width:100%;
        margin-bottom: 60px;
     }

     
 }

 
 @media only screen and (max-width:750px)
 {
    header{
        width:100%;
        padding-left:15px;
        padding-right:10px;
    }

    .container .right{
        padding:30px;
        width:70%;
        align-self: center;
        background-color: white;
        transform: scaleX(2.5);
        transform: translateX(0%);
        height:100%;
        margin:40px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.295);
        z-index:2;
    }

 }

 @media only screen and (max-width:550px){
    .card-container{
        display: block;
    }
    
    .container {
        display: block;
    }
    
    .container .left{
        height:500px;
        width:100%;
    }
    
    .container .right{
        width:100%;
    }
    
     
 }

 @media only screen and (max-width:315px)
 {
     main{
         display: block;
     }

     main div{
         margin-top: 5px;
     }
 }
  
