*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}


:root{
    --footer-backgound-color:rgb(43, 43, 43);
    --footer-text-color:rgb(112, 112, 112);
    --aside-text-active-color:black;
    --aside-text-non-active-color:rgb(37, 37, 37);
    --header-path-color:rgb(156, 156, 156);
}

header , .container , .card-container , footer{
    margin-left:280px;
    transition: all 0.5s ease-in-out;
}

aside{
    transition: all  0.5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height:100vh;
    position: fixed;
    width:280px;
    padding:40px;
    background-color: rgb(245, 76, 104);
    color:black;
}

aside a{
    text-decoration: none;
    color:var(--aside-text-non-active-color);
}

aside .logo{
    text-align: center;
    font-weight: 800 !important;
}

aside .logo h1{
    font-weight: 800;
}

aside .logo .logoPic {
  margin-bottom: 10px;
}

aside ul{
    width:100px;
    text-align: center;
    
}

aside h4{
    font-weight: 600;
}

aside li{
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-bottom:0px;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: all 1.5s ease-in-out;
    font-size: 1.0rem;
    
}

aside ul li .active{
    color:var(--aside-text-active-color) !important;
}

aside ul li .active + .underLine{
    transform: scaleX(1) !important;
}

aside li .underLine{
    width:100%;
    background-color:var(--aside-text-active-color);
    padding: 0.55px;
    transform: scaleX(0);
    transition: all 150ms ease-in-out;
}



aside li:hover .underLine{
    transform: scaleX(1);
}

aside li:hover a{
   color:var(--aside-text-active-color) ;
   
}

aside .followUs{
    text-align: center;
    text-transform: capitalize;
    color:var(--aside-text-non-active-color);
}

aside .followUs h4{
    margin-bottom: 15px;
}

aside .followUsNetworks{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

aside .followUsNetworks a{
    width:50px;
    height:50px;
    background-color: rgb(255, 121, 143);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



aside .followUsNetworks i{
    font-size: 1.3rem;
    color: black;
}

header{
    margin-left:280px;
    width:60%;
    padding:60px;
}

header > *{
    margin-bottom: 20px;
}

header .path{
    display: flex;
    text-transform: uppercase ;
}

header p{
    color:var(--header-path-color);
}

header .path a{
   color:var(--header-path-color);
   margin-right: 15px;
}

header .path .underLine{
    width: 100%;
    padding: 1px;
    background-color: var(--header-path-color);
}

header h1{
    text-transform: capitalize;
    font-weight: 800;
}



main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap:5px;
    margin-left:280px;
}

.photo{
    background-color: rgb(73, 73, 73);
    height:320px;
}


 footer{
     background-color: var(--footer-backgound-color);
     font-size: 1.0rem;
     color:var(--footer-text-color);
     margin-left:280px;
 }

 footer > p{
     padding: 5%;
     padding-bottom:20px;
     text-align: center;
 }

 .flexItem{
     width: 100%;
    background-color:var(--footer-backgound-color);
    display: flex ;
    flex-flow: row nowrap;
    justify-content: center;
    padding:5%;
   
}

a{
    text-decoration: none;
    color:var(--footer-text-color);
}

footer li{
    list-style: none;
    border-bottom: 1px solid var(--footer-text-color);
    padding-bottom:10px ;
    margin-top: 30px;
}

footer div {
   text-transform: capitalize;
   width:30%;
   padding:0px 3%;
  
}

footer div h3 {
    color:white;
    margin-bottom: 35px;
 }

.brackets{
     float:right;
 }


 @media only screen and (max-width:1000px){
    aside{
        transform: translateX(-100%);
    }

    header , main , footer{
        margin-left: 0;
    }

    header{
       width:80%;
       padding-right:20px;
   }

   
}
 

 @media only screen and (max-width:850px)
 {

     .flexItem{
         display: block;
     }

     footer div {
        width:100%;
        margin-bottom: 60px;
     }

     
 }

 
 @media only screen and (max-width:750px)
 {
    header{
        width:100%;
        padding-left:15px;
        padding-right:10px;
    }
 }

 @media only screen and (max-width:315px)
 {
     main{
         display: block;
     }

     main div{
         margin-top: 5px;
     }
 }
  
